{% extends "pages/abstract/base.html.twig" %}

{% block stylesheets_page_group %}
{% endblock %}

{% block body_attributes %}
    class="hold-transition skin-{{site.AdminLTE.skin}} layout-top-nav"
{% endblock %}

{% block content %}

<div class="wrapper">

  <header class="main-header">
    {% include "navigation/main-nav.html.twig" %}
  </header>

  <!-- Full Width Column -->
  <div class="content-wrapper" style="background-color:#ffffff">
    <div class="container" style="min-width:95%;padding:0px;">
        {# <!-- Content Header (Page header) -->
        {% block content_header %}
        <section class="content-header">
          <h1>{% block header_title %}{{ block('page_title') }}{% endblock %}</h1>
          {% if block('page_description') is not empty %}<h1><small>{% block header_description %}{{ block('page_description') }}{% endblock %}</small></h1>{% endif %}
          <div id="alerts-page"></div>
        </section>
        {% endblock %} #}
        <section class="content">
            {% block body_matter %}{% endblock %}
        </section>
    </div>
  </div>

  {# {% block footer %}
    {% include "pages/partials/footer.html.twig" %}
  {% endblock %} #}
</div>

{% endblock %}