{% extends "pages/abstract/default.html.twig" %}

{% set page_active = "home" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{translate("HOME")}}{% endblock %}

{% block page_description %}{{translate("WELCOME_TO", {'title': site.title})}}{% endblock %}

{% block body_matter %}

    <!-- Header Carousel -->
    <div class="box box-solid">
        <div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="//placehold.it/1900x1080&text=Slide One" alt="First slide">

                    <div class="carousel-caption">
                      First Slide
                    </div>
                  </div>
                  <div class="item">
                    <img src="//placehold.it/1900x1080&text=Slide Two" alt="Second slide">

                    <div class="carousel-caption">
                      Second Slide
                    </div>
                  </div>
                  <div class="item">
                    <img src="//placehold.it/1900x1080&text=Slide Three" alt="Third slide">

                    <div class="carousel-caption">
                      Third Slide
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                  <span class="fa fa-angle-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                  <span class="fa fa-angle-right"></span>
                </a>
            </div>
            <!-- /.carousel -->
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->

    <!-- Marketing Icons Section -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                UNION HIERACHY 
            </h1>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-check"></i>UNION HIERACHY </h4>
                </div>
                <div class="panel-body">
                    <p>
                    The Biennial General Conference, which is also the elective congress, is the supreme body of the Union. It elects the National Executive Committee (NEC), Trustees and Internal Auditors to run with the affairs of the Union. The NEC reports to the General Council in between. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-gift"></i>HOW DO YOU JOIN BOBEU</h4>
                </div>
                <div class="panel-body">
                    <p>
                        BOBEU is recognised institution in most of the workplaces, for one to join; you can approach a shop steward in your workplace who will assist with a joining form. </br>
                        Any employee, who falls under the non-managerial cadre, is eligible to be a member of BOBEU. 
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default" style="box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);">
                <div class="panel-heading">
                    <h4><i class="fa fa-fw fa-compass"></i>WHY JOIN BOBEU</h4>
                </div>
                <div class="panel-body">
                    <p>
                    To negotiate with employers 
                        I.	For better conditions of service</br>
                        II.	For representation in grievance and disciplinary matters</br>
                        III. Job security</br>
                        IV.	Education</br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Portfolio Images</h2>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="//placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="//placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="//placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="//placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="//placehold.it/700x450" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="//placehold.it/700x450" alt="">
            </a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">HISTORY OF BOTSWANA BANK EMPLOYEES UNION(BOBEU)</h2>
        </div>
        <div class="col-md-6">
            <p>Botswana Bank Employees Union (BOBEU) was founded in the early ‘70s and had its first registered Collective Labour Agreement in November 1976. This was signed by the then Chairman Mr Pelotelele Tlhaodi and witnessed by the General Secretary Mr O.J Moumakwa.
BOBEU was set to represent employees working for commercial banks. At its inception, it had…member banks and ….members. 
The Union held its first Congress in and the following were the first National Executive Committee of BOBEU</p>
            <p>Currently it represents …….employees from seven out of the ten commercial banks namely:</p>
            <ul>
                <li>Bank Baroda</li>
                <li>Bank Gaborone</li>
                <li>Barclays Bank</li>
                <li>Capital Bank</li>
                <li>First National Bank</li>
                <li>Stanbic Bank</li>
                <li>Standard Chartered</li>
            </ul>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, omnis doloremque non cum id reprehenderit, quisquam totam aspernatur tempora minima unde aliquid ea culpa sunt. Reiciendis quia dolorum ducimus unde.</p>
        </div>
        <div class="col-md-6">
            <img class="img-responsive" src="//placehold.it/700x450" alt="">
        </div>
    </div>
{% endblock %}



{% block scripts_page %}
    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: false // set to false to prevent auto-advance
    })
    </script>
{% endblock %}
